   .preloader{
          position: fixed;
		  background-color: #ffffff;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: 99999;
   }
div#container
{
   width: 997px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #FFFFFF;
   text-decoration: underline;
}
a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#LayerTexth1
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   opacity: 0.00;
}
#wb_ImageKrest
{
   vertical-align: top;
}
#ImageKrest
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageSled
{
   vertical-align: top;
}
#ImageSled
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#FonovyiSloy
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_ImageRamkaFonIndex
{
   vertical-align: top;
}
#ImageRamkaFonIndex
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageTeloKota
{
   vertical-align: top;
}
#ImageTeloKota
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerGlazP
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image5g
{
   vertical-align: top;
}
#Image5g
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerGlazL
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image4g
{
   vertical-align: top;
}
#Image4g
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_UhoL
{
   vertical-align: top;
}
#UhoL
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_UhoP
{
   vertical-align: top;
}
#UhoP
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerSloyKota
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   position: absolute;
}
#wb_Line2
{
   font-size: 0;
}
#Line2
{
   position: absolute;
}
#wb_ImageUsyL
{
   vertical-align: top;
}
#ImageUsyL
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageUsyP
{
   vertical-align: top;
}
#ImageUsyP
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerNos
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_ImageNazvanie
{
   vertical-align: top;
}
#ImageNazvanie
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Imagenylpi
{
   vertical-align: top;
}
#Imagenylpi
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageText1Str
{
   vertical-align: top;
}
#ImageText1Str
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageRazgovor
{
   vertical-align: top;
}
#ImageRazgovor
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerRazgovor
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_ImageText2
{
   vertical-align: top;
}
#ImageText2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageRusText2
{
   vertical-align: top;
}
#ImageRusText2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageRusText1
{
   vertical-align: top;
}
#ImageRusText1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageRusNazvanie
{
   vertical-align: top;
}
#ImageRusNazvanie
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageRusnylpi
{
   vertical-align: top;
}
#ImageRusnylpi
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerRusnylpi
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   opacity: 0.00;
}
#LayerRUS_Skrytyi
{
   background-color: transparent;
   background-image: url('../images/RUS.svg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#LayerUDM_Skrytyi
{
   background-color: transparent;
   background-image: url('../images/UDM.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#LayerKnopka1Strindex
{
   background-color: transparent;
   background-image: url('../images/1NKnopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerRusNazvanie_Skrytyi
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#LayerUsyP_Skrytyi
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#LayerUsyL_Skrytyi
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Кузьым_нылпи_газет 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Кузьым_нылпи_газет div
{
   text-align: left;
}
#LayerUDMnylpi
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
}
#TenSledUDMstrindex
{
   background-color: transparent;
   background-image: url('../images/TenSledUDM.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#TenSledRUSstrindex
{
   background-color: transparent;
   background-image: url('../images/TenSledRUS.svg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
   opacity: 0.00;
}
#LayerKnopka2Strindex
{
   background-color: transparent;
   background-image: url('../images/2Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopka3Strindex
{
   background-color: transparent;
   background-image: url('../images/3Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopka4Menu
{
   background-color: transparent;
   background-image: url('../images/4Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerInformaciya
{
   background-color: transparent;
   background-image: url('../images/Infofon.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 1px solid transparent;
   border-radius: 0px;
   margin: 0;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#ShapeInfoPolitika
{
   border-width: 0;
   vertical-align: top;
}
#ShapeInfoSayt
{
   border-width: 0;
   vertical-align: top;
}
#ShapeInfoVK
{
   border-width: 0;
   vertical-align: top;
}
#LayerZakrytInfo
{
   background-color: transparent;
   background-image: url('../images/KnopkaInfoZakryt.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#Layer1KnopkaAlfavit
{
   background-color: transparent;
   background-image: url('../images/KnopkaAlfavit.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopkaInfoUDM
{
   background-color: transparent;
   background-image: url('../images/KnopkaInfoUDM.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopkaInfoRUS
{
   background-color: transparent;
   background-image: url('../images/KnopkaInfoRUS.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#ThemeableButtonKarta
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButtonKarta .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButtonKarta.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#ThemeableButtonKarta.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#ThemeableButtonKarta.ui-button
{
   background-color: #BAC245;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#ThemeableButtonKarta.ui-state-hover, #ThemeableButtonKarta.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9933;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonKarta.ui-state-active, #ThemeableButtonKarta.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #BAC245;
   background-image: none;
   color: #FFFFFF;
}
#LayerKarta1Str
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 6px;
   box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
   margin: 0;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#ThemeableButtonZakrytKarta
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButtonZakrytKarta .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButtonZakrytKarta.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#ThemeableButtonZakrytKarta.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#ThemeableButtonZakrytKarta.ui-button
{
   background-color: #BAC245;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#ThemeableButtonZakrytKarta.ui-state-hover, #ThemeableButtonZakrytKarta.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9933;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonZakrytKarta.ui-state-active, #ThemeableButtonZakrytKarta.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #BAC245;
   background-image: none;
   color: #FFFFFF;
}
#LayerKnopka5Strmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/5Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
/* КУКИ */
#cookie_notification{
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 50%;
  width: 970px;
  max-width: 90%;
  transform: translateX(-50%);
  padding: 25px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 999999;
}

#cookie_notification p{
  margin: 0;
  font-size: 0.72rem;
  text-align: center;
  color: $color_text;
}


@media (min-width: 576px){
  #cookie_notification.show{
    display: flex;
    align-items: center;
  }
  .cookie_accept{
    margin: 0 0 0 25px;
  }
}

@media (max-width: 575px){
  #cookie_notification.show{
    display: block;
    text-align: left;
  }
  .cookie_accept{
    margin: 10px 0 0 0;
  }
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #605e5ec4;
    border: none;
    color: #ededed;
    text-decoration: none;
    padding: 15px 40px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    max-width: 100%;
    transition: all .1s cubic-bezier(0.4, 0, 1, 1);
}

.button:active,.button:focus {
    outline: none;
    color: #fbff4b;
    background-color: #605e5e
}

.button:hover {
    text-decoration: none;
    color: #fbff4b;
    background-color: #605e5e
}

.button:disabled {
    cursor: not-allowed
}
