div#container
{
   width: 997px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#LayerTexth1
{
   background-color: #FFFFFF;
   background-image: none;
   opacity: 0.00;
}
#ImageKrest
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageSled
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#FonovyiSloy
{
   background-color: transparent;
   background-image: none;
}
#ImageRamkaFonIndex
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageTeloKota
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerGlazP
{
   background-color: transparent;
   background-image: none;
}
#Image5g
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerGlazL
{
   background-color: transparent;
   background-image: none;
}
#Image4g
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#UhoL
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#UhoP
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerSloyKota
{
   background-color: transparent;
   background-image: none;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   position: absolute;
}
#wb_Line2
{
   font-size: 0;
}
#Line2
{
   position: absolute;
}
#ImageUsyL
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageUsyP
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerNos
{
   background-color: transparent;
   background-image: none;
}
#ImageNazvanie
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Imagenylpi
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageText1Str
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageRazgovor
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerRazgovor
{
   background-color: transparent;
   background-image: none;
}
#ImageText2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageRusText2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageRusText1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageRusNazvanie
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageRusnylpi
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerRusnylpi
{
   background-color: #FFFFFF;
   background-image: none;
   opacity: 0.00;
}
#LayerRUS_Skrytyi
{
   background-color: transparent;
   background-image: url(../images/RUS.svg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
}
#LayerUDM_Skrytyi
{
   background-color: transparent;
   background-image: url(../images/UDM.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#LayerKnopka1Strindex
{
   background-color: transparent;
   background-image: url(../images/1NKnopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerRusNazvanie_Skrytyi
{
   background-color: transparent;
   background-image: none;
}
#LayerUsyP_Skrytyi
{
   background-color: transparent;
   background-image: none;
}
#LayerUsyL_Skrytyi
{
   background-color: transparent;
   background-image: none;
}
#wb_Кузьым_нылпи_газет 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Кузьым_нылпи_газет div
{
   text-align: left;
}
#LayerUDMnylpi
{
   background-color: #FFFFFF;
   background-image: none;
}
#TenSledUDMstrindex
{
   background-color: transparent;
   background-image: url(../images/TenSledUDM.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#TenSledRUSstrindex
{
   background-color: transparent;
   background-image: url(../images/TenSledRUS.svg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   opacity: 0.00;
}
#LayerKnopka2Strindex
{
   background-color: transparent;
   background-image: url(../images/2Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka3Strindex
{
   background-color: transparent;
   background-image: url(../images/3Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka4Menu
{
   background-color: transparent;
   background-image: url(../images/4Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerInformaciya
{
   background-color: transparent;
   background-image: url(../images/Infofon.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 1px solid transparent;
   border-radius: 6px;
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#ShapeInfoPolitika
{
   border-width: 0;
}
#ShapeInfoSayt
{
   border-width: 0;
}
#ShapeInfoVK
{
   border-width: 0;
}
#ShapeInfoOD
{
   border-width: 0;
}
#LayerZakrytInfo
{
   background-color: transparent;
   background-image: url(../images/KnopkaInfoZakryt.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Layer1KnopkaAlfavit
{
   background-color: transparent;
   background-image: url(../images/KnopkaAlfavit.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopkaInfoUDM
{
   background-color: transparent;
   background-image: url(../images/KnopkaInfoUDM.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopkaInfoRUS
{
   background-color: transparent;
   background-image: url(../images/KnopkaInfoRUS.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopkaArhiv
{
   background-color: transparent;
   background-image: url(../images/KnopkaArhiv.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#ThemeableButtonKarta
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
}
#ThemeableButtonKarta .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButtonKarta.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#ThemeableButtonKarta.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#ThemeableButtonKarta.ui-button
{
   background-color: #BAC245;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#ThemeableButtonKarta.ui-state-hover, #ThemeableButtonKarta.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9933;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonKarta.ui-state-active, #ThemeableButtonKarta.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #BAC245;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonKarta.ui-button .ui-icon
{
   background-image: url(images/index-ThemeableButtonKarta-default.png);
   background-position: 0 0;
}
#ThemeableButtonKarta.ui-button:hover .ui-icon
{
   background-image: url(images/index-ThemeableButtonKarta-hover.png);
   background-position: 0 0;
}
#ThemeableButtonKarta.ui-button:active .ui-icon
{
   background-image: url(images/index-ThemeableButtonKarta-active.png);
   background-position: 0 0;
}
#ThemeableButtonKarta.ui-visual-focus
{
   box-shadow: none;
}
#LayerKarta1Str
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 6px;
   box-shadow: 0px 3px 9px rgba(0,0,0,0.50);
   overflow: visible;
}
.ui-dialog
{
   border-width: 0;
   padding: 0;
   overflow: visible;
}
.ui-widget-content
{
   border-width: 0;
   padding: 0;
}
#ThemeableButtonZakrytKarta
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   margin: 0;
}
#ThemeableButtonZakrytKarta .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButtonZakrytKarta.ui-corner-all
{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
#ThemeableButtonZakrytKarta.ui-corner-all
{
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}
#ThemeableButtonZakrytKarta.ui-button
{
   background-color: #BAC245;
   background-image: none;
   border: 0px solid #C5C5C5;
   color: #FFFFFF;
}
#ThemeableButtonZakrytKarta.ui-state-hover, #ThemeableButtonZakrytKarta.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #FF9933;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonZakrytKarta.ui-state-active, #ThemeableButtonZakrytKarta.ui-button:active
{
   border-color: #2E6DA4;
   background-color: #BAC245;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButtonZakrytKarta.ui-button .ui-icon
{
   background-image: url(images/index-ThemeableButtonZakrytKarta-default.png);
   background-position: 0 0;
}
#ThemeableButtonZakrytKarta.ui-button:hover .ui-icon
{
   background-image: url(images/index-ThemeableButtonZakrytKarta-hover.png);
   background-position: 0 0;
}
#ThemeableButtonZakrytKarta.ui-button:active .ui-icon
{
   background-image: url(images/index-ThemeableButtonZakrytKarta-active.png);
   background-position: 0 0;
}
#ThemeableButtonZakrytKarta.ui-visual-focus
{
   box-shadow: none;
}
#LayerKnopka5Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/5Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
