div#container
{
   width: 997px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #FFFFFF;
   text-decoration: underline;
}
a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#LayerSkryt
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
   opacity: 0.00;
}
#TenSledRUSstrmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/TenSledRUS.svg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
   opacity: 0.00;
}
#FonovyiSloy4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#LayerLapaUdmmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/UDM.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#LayerLapaRusmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/RUS.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#wb_ImageRamkaFonmadiskonyos
{
   vertical-align: top;
}
#ImageRamkaFonmadiskonyos
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerKrest3
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
   opacity: 0.00;
}
#wb_ImageRUSrasskaz
{
   vertical-align: top;
}
#ImageRUSrasskaz
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ImageUDMrasskaz
{
   vertical-align: top;
}
#ImageUDMrasskaz
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TenSledUDMstrmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/TenSledUDM.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 0px;
}
#LayerKnopka4Strmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/4NKnopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopka3Strmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/3Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopka2Strmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/2Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#LayerKnopka1Strmadiskonyos
{
   background-color: transparent;
   background-image: url('../images/1Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#Layer3KnopkaAlfavit
{
   background-color: transparent;
   background-image: url('../images/KnopkaAlfavit.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
#wb_BukvySkor
{
   vertical-align: top;
}
#BukvySkor
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_NazvanieUDM
{
   vertical-align: top;
}
#NazvanieUDM
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_NazvanieRUS
{
   vertical-align: top;
}
#NazvanieRUS
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#TextAreaUDM
{
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #645A00;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextAreaUDM:focus
{
   outline: 0;
}
#TextAreaRUS
{
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #645A00;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextAreaRUS:focus
{
   outline: 0;
}
#LayerKnopka5Str
{
   background-color: transparent;
   background-image: url('../images/5Knopka.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border-radius: 0px;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  background-color: #C1C468;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
  border-radius: 10px;
}
:root {
  /* For Firefox */
  overflow-y: auto;
  scrollbar-color: #C1C468 #fff;
  scrollbar-width: thin;
  border-radius: 10px;
}
#snow-start{
background: rgba(27, 25, 25, 0.4);
color: #fff;
display: inline-block;
width: 100px;
text-align: center;
cursor: pointer;
line-height: 25px;
position: fixed;
right: 0px;
top: 0px;
border-radius: 0px 0px 0px 9px;
}
#copy{
color: rgba(20, 16, 16, 0);
font-size: 7px;
position: fixed;
text-decoration: none;
top: 24px;
right: 2px;
}
#TextAreaUDM::-webkit-scrollbar {
  width: 10px;
}

#TextAreaUDM::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

#TextAreaUDM::-webkit-scrollbar-thumb {
  background-color: #C1C468;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
  border-radius: 10px;
}
#TextAreaRUS::-webkit-scrollbar {
  width: 10px;
}

#TextAreaRUS::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

#TextAreaRUS::-webkit-scrollbar-thumb {
  background-color: #C1C468;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
  border-radius: 10px;
}
