div#container
{
   width: 997px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#TenSledRUSstrmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/TenSledRUS.svg);
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   opacity: 0.00;
}
#FonovyiSloy4
{
   background-color: transparent;
   background-image: none;
}
#LayerLapaUdmmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/UDM.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#LayerLapaRusmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/RUS.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#ImageRamkaFonmadiskonyos
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerKrest3
{
   background-color: #FBFBFB;
   background-image: none;
   opacity: 0.00;
}
#TenSledUDMstrmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/TenSledUDM.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#LayerKnopka4Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/4Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka3Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/3Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka2Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/2Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka1Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/1Knopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Layer3KnopkaAlfavit
{
   background-color: transparent;
   background-image: url(../images/KnopkaAlfavit.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#LayerKnopka5Strmadiskonyos
{
   background-color: transparent;
   background-image: url(../images/5NKnopka.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#ImageTV
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchatelTV
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImageVKLTv
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchTVnacholo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImageVYKLTv2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchTV2nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImageVKLTv2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageCBSLogo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchatelTV3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchTV5nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchatelTV8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImageVKLTv3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVKLTv4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVKLTv5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVKLTv6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVKLTv7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVKLTv8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageVYKLTv8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchTV3nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchTV4nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchTV6nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchTV7nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#ImagePerekluchTV8nachalo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
#LayerSTOP
{
   background-color: transparent;
   background-image: none;
}
#ImagekotTvPovorot
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagekotTvVopros
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagekotTvPovorotText
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagekotTvVoprosTextRUS
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagekotTvVoprosTextUDM
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageInfoTvRUS
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageInfoTvUDM
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePerekluchTvInfoNacholo
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  background-color: #C1C468;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
  border-radius: 10px;
}
:root {
  /* For Firefox */
  overflow-y: auto;
  scrollbar-color: #C1C468 #fff;
  scrollbar-width: thin;
  border-radius: 10px;
}
